
<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel33">Izmjena uplate</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="POST" action="{% url 'vrtic:update_payments' payment.id %}">{% csrf_token %}
    <div class="modal-body">
        <label>KORISNIK: </label>
        <div class="form-group">
            {{ update_form.user }}
        </div>
        <label>BROJ IZVODA: </label>
        <div class="form-group">
            <input type="number" name="bank_paper_id" value="{{ update_form.bank_paper_id.value }}" class="form-control text-center">
        </div>

        <label>DATUM UPLATE: </label>
        <div class="form-group">
            <input name="payment_date" type="text" value="{{ update_form.payment_date.value }}" class="form-control text-center">
        </div>

        <label>UPLACENO: </label>
        <div class="form-group">
            <input name="paid" type="number" step="0.01" value="{{ update_form.paid.value }}" class="form-control text-center">

        </div>

        <label>TREBA DA UPLATI: </label>
        <div class="form-group">
            <input name="need_to_pay" type="number" step="0.01" value="{{ update_form.need_to_pay.value }}" class="form-control text-center">
        </div>

        <label>NAPOMENA: </label>
        <div class="form-group">
            <input name="notes" value="{{ update_form.notes.value }}" class="form-control text-center">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Izmjeni</button>
    </div>
</form>
