{% extends 'companies/base.html' %}
{% load static %}

{% block title %}
    Kompanije
{% endblock %}

{% block content %}
{% include 'companies/side_bar.html' %}
<div class="content-wrapper"><br><br><br>
<section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="{% url 'companies:search_company' %}">
                        <div class="input-group">
                            <input name="search_company" type="search" class="form-control form-control-lg" placeholder="Pretraga po mjesecima">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><br><br><br>
<div class="container">
{% if messages %}
     {% for message in messages %}
         <div class="alert alert-danger col-6" role="alert">
               <center><h6>{{ message }}</h6></center>
         </div>
     {% endfor %}
{% endif %}
</div>
<section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h1 class="card-title">Uplate</h1>
                <div class="card-tools">
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th><center>Naziv Firme</center></th>
                      <th><center>Broj izvoda</center></th>
                      <th><center>Datum</center></th>
                      <th><center>Iznos uplate</center></th>
                      <th><center>Ostalo da se uplati</center></th>
                      <th><center>Napomena</center></th>
                      <th><center>Prikaz Firme</center></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for payment in payments %}
                    <tr>
                      <td><center>{{ payment.company.name.capitalize }}</center></td>
                      <td><center>{{ payment.bank_paper_id }}</center></td>
                      <td><center>{{ payment.payment_date }}</center></td>
                      <td><center>{{ payment.paid }}</center></td>
                      <td><center>{{ payment.need_to_pay }}</center></td>
                      <td><center>{{ payment.notes.capitalize }}</center></td>
                        <td><center><a class="btn btn-secondary" href="{% url 'companies:company_payment' payment.company.id %}">Uplate</a></center></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

    </section>

</div>

{% endblock %}