<div class="modal-header bg-danger white">
    <h5 class="modal-title" id="myModalLabel160">Potvrditi brisanje</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
<form method="POST" action="{% url 'companies:delete_payment_company' payment.id %}"> {% csrf_token %}
    <div class="modal-body">
    Obrisati izvod {{ payment.bank_paper_id }}?
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Obrisi</button>
    </div>
</form>